<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :banner %><br>
    <%= f.file_field :banner %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :beacon_id %><br>
    <%= f.collection_select(:beacon_id, Ibeacon::Beacon.all, :id, :uuid, {include_blank: 'Select your Beacon'}) %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
