<% if notice.present? %>
    <div id="notice" class="alert alert-infos" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>Name:</dt>
    <dd><%= @coupon.name %></dd>

    <dt>Banner:</dt>
    <dd><%= image_tag banner_coupon_path(@coupon) %></dd>

    <dt>Beacon:</dt>
    <dd><%= @beacon.uuid if @coupon.beacon_id != nil and !@coupon.beacon_id.blank? %></dd>
  </dl>
</div>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
