<% if notice.present? %>
    <div id="notice" class="alert alert-infos" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>ID:</dt>
    <dd><%= @beacon.id %></dd>

    <dt>UUID:</dt>
    <dd><%= @beacon.uuid %></dd>

    <dt>Major:</dt>
    <dd><%= @beacon.major %></dd>

    <dt>Minor:</dt>
    <dd><%= @beacon.minor %></dd>

    <dt>Note:</dt>
    <dd><%= @beacon.note %></dd>


  </dl>
</div>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
