<% if notice.present? %>
    <div id="notice" class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>Name:</dt>
    <dd><%= @ad_type.name %></dd>

    <dt>Height:</dt>
    <dd><%= @ad_type.height %></dd>

    <dt>Width:</dt>
    <dd><%= @ad_type.width %></dd>

    <dt>Note:</dt>
    <dd><%= @ad_type.note %></dd>
  </dl>
</div>

<%= link_to 'Edit', edit_ad_type_path(@ad_type) %> |
<%= link_to 'Back', ad_types_path %>
