<% if notice.present? %>
    <div id="notice" class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>Name:</dt>
    <dd><%= @field_type.id %></dd>

    <dt>Value:</dt>
    <dd><%= @field_type.value %></dd>

    <dt>Note:</dt>
    <dd><%= @field_type.note %></dd>
  </dl>
</div>

<br>

<%= link_to 'Edit', edit_field_type_path(@field_type) %> |
<%= link_to 'Back', field_types_path %>
