<%#= form_for [@app, @entity,@data ] do |f| %>
<%= form_for @data, as: post, url app_entity_datas_path(@app, @entity),  method :post do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @attrs.each  do |a| %>
    <div class="field">
      <%= label :data, a.name %><br>
      <%= text_field_tag 'data['+a.name+']' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
