<h1><%= @entity.name.upcase %>'s datas</h1>
<h3><%= link_to "Add new data", new_app_entity_data_path(@app, @entity) %></h3>

<table>
  <thead>
    <tr>
      <% @attrs.each do |a| %>
      <th><%= a.name %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datas.each do |d| %>
      <tr>
        <% @attrs.each do |a| %>
        <td><%= d[a.name] %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_app_entity_data_path(@app,@entity, d['id']) %></td>
        <td><%= link_to 'Destroy', app_entity_data_path(@app,@entity, d['id'])  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

