<h1>New data</h1>

<%= form_tag(app_entity_datas_path(@app, @entity), method: :post) do %>
  <% @attrs.each  do |a| %>
    <div class="field">
      <%= label :data, a.name %><br>
      <%= text_field_tag 'data['+a.name+']' %>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag "Save" %>
  </div>
<% end %>

<%= link_to 'Back', app_entity_datas_path(@app, @entity) %>
