<% if notice.present? %>
    <div id="notice" class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>Name:</dt>
    <dd><%= @advertiser.name %></dd>

    <dt>Note:</dt>
    <dd><%= @advertiser.note %></dd>

    <dt>Level:</dt>
    <dd><%= @advertiser.level %></dd>
  </dl>
</div>

<br>

<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>|
<%= link_to 'Campaigns', advertiser_campaigns_path(@advertiser) %>
