<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<p>
  <strong>App:</strong>
  <%= @box.app_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @box.note %>
</p>

<%= link_to 'Edit', edit_app_box_path(@box, @app) %> |
<%= link_to 'Back', app_boxes_path(@app) %>

