<p id="notice"><%= notice %></p>

<p>
  <strong>AppID:</strong>
  <%= @app.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @app.note %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @app.api_key %>
</p>

<br/>

<h1>Entities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>App</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.note %></td>
        <td><%= link_to 'Show', [@app, entity] %></td>
        <td><%= link_to 'Edit', edit_app_entity_path(entity,@app) %></td>
        <td><%= link_to 'Destroy', [@app, entity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %> |
<%= link_to("Entities", app_entities_path(@app)) %>
