<% if notice.present? %>
  <div id="notice" class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <dl class="dl-horizontal" style="padding-top: 15px;">
    <dt>AppID:</dt>
    <dd><%= @app.id %></dd>

    <dt>Name:</dt>
    <dd><%= @app.name %></dd>

    <dt>Note:</dt>
    <dd><%= @app.note %></dd>

    <dt>Api key:</dt>
    <dd><%= @app.api_key %></dd>
  </dl>
</div>

<h1>Entities</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>App</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.note %></td>
        <td><%= link_to 'Show', [@app, entity] %></td>
        <td><%= link_to 'Edit', edit_app_entity_path(entity,@app) %></td>
        <td><%= link_to 'Destroy', [@app, entity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %> |
<%= link_to("Entities", app_entities_path(@app)) %>
