<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Frontend</title>

  <%= stylesheet_link_tag    "frontend/application", media: "all" %>
  <%= javascript_include_tag "frontend/application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to("DynAs system", frontend.root_path, :class => "navbar-brand") %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to("Fieldtypes", core.field_types_path) %></li>
          <li><%= link_to("Applications", core.apps_path) %></li>
          <li><%= link_to("API index", core.crud_index_path) %></li>

          <li><%= link_to("Advertiser", services_ad.advertisers_path) %></li>
          <li><%= link_to("Ad Types", services_ad.ad_types_path) %></li>
          <li><%= link_to("iBeacons", services_ibeacon.beacons_path) %></li>
          <li><%= link_to("Coupons", services_ecoupon.coupons_path) %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if member_signed_in? %>
              <li><%= link_to('Edit registration', core.edit_member_registration_path) %></li>
              <li><%= link_to('Sign out', core.destroy_member_session_path, :method => :get) %></li>
          <% else %>
              <li><%= link_to('Register', core.new_member_registration_path) %></li>
              <li><%= link_to("Sign in", core.new_member_session_path) %></li>
          <% end %>
        </ul>

        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><%= link_to("Fieldtypes", core.field_types_path) %></li>
          <li><%= link_to("Applications", core.apps_path) %></li>
          <li><%= link_to("API index", core.crud_index_path) %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to("Advertiser", services_ad.advertisers_path) %></li>
          <li><%= link_to("Ad Types", services_ad.ad_types_path) %></li>
          <li><%= link_to("iBeacons", services_ibeacon.beacons_path) %></li>
          <li><%= link_to("Coupons", services_ecoupon.coupons_path) %></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <%= params.inspect %>

        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
